<!-- Home page, for page user is directed after login -->
<h1>Welcome to IT Helpdesk</h1>

<!-- If user is signed in, show link to their tickets -->
<% if user_signed_in? %>
  <%= link_to 'View My Tickets', tickets_path, class: 'btn btn-primary' %>
  <% else %>
    <p><%= link_to 'Login', new_user_session_path, class: 'btn' %></p> 
    <p><%= link_to "Register", new_user_registration_path, class: 'btn' %></p>
<% end %>

<!-- If user is admin, show link to admin panel to view all tickets -->
<% if user_signed_in? && current_user.admin? %>
  <p><%= link_to "View All Tickets", admin_tickets_path, class: 'btn btn-primary' %></p>
<% end %>
<br>
<br>
<br>
<p>Need help? Contact our support team at <a href="mailto:support@ithelpdesk.com">support@srcsolutions.com</a></p>
