<h1 class="section-title">About Us</h1>

<div class="about-content", text-align: left;>
  <div class="about-description">
    <p>We are the IT Support team and we are here to help you. Please user the portal to log any issues that you might be encoutering, by submitting a ticket.</p>
    <p>The team has been estrablished since 2025 to provide service that helps users resolve technical problems with computers, software, networks, and other technology systems to ensure smooth business operations.</p> 
    <p>Please find more information below.</p>

    <table class="contact-table">
      <tr><th>Contact</th><td>+44 1234 567890</td></tr>
      <tr><th>Email</th><td>support@srcsolutions.com</td></tr>
      <tr><th>Office Hours</th><td>Mon–Fri, 9:00–17:00</td></tr>
    </table>
  </div>

  <%= image_tag 'helpdesk01.jpg', class: 'about-image' %>